/pcv/02/Temperature/nbproject/private/
/pcv/03/Areas/nbproject/private/
/pcv/03/Areas/build/
/pcv/04/People/nbproject/private/
/pcv/04/People/build/
/pcv/01/ciselne_soustavy/nbproject/private/
/pcv/02/Temperature/build/